<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <title>NBA Data</title>
   </head>
   <body>
      <h1 class="alert alert-success display-4 text-center">Teams</h1>
      <table class="display" style="width:100%" id="teams">
        <thead>
            <td>Team ID</td>
            <td>Season</td>
            <td>Name</td>
            <td>City</td>
            <td>Conference</td>
            <td>Coach</td>
            <td>Arena</td>
            <td>Year Founded</td>
            <td>Abbrevation</td>
            <td>Division</td>
            <td>NBA Team ID</td>
         </thead>
         {% for team in teams %}
            <tr>
                <td>{{team["team_id"]}}</td>
                <td>{{team["season"]}}</td>
                <td>{{team["name"]}}</td>
                <td>{{team["city"]}}</td>
                <td>{{team["conference"]}}</td>
                <td>{{team["coach"]}}</td>
                <td>{{team["arena"]}}</td>
                <td>{{team["yearFounded"]}}</td>
                <td>{{team["abbr"]}}</td>
                <td>{{team["division"]}}</td>
                <td>{{team["nba_team_id"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br />
      <h1 class="alert alert-success display-4 text-center">Players</h1>
      <table class="display" style="width:100%" id="players">
         <thead>
             <td>Player ID</td>
             <td>Team ID</td>
             <td>Rank</td>
             <td>First Name</td>
             <td>Last Name</td>
             <td>Height</td>
             <td>Jersey Number</td>
             <td>Weight</td>
             <td>Age</td>
             <td>Country</td>
             <td>Experience</td>
             <td>Position</td>
             <td>School Type</td>
             <td>Draft Year</td>
             <td>NBA Player ID</td>
          </thead>
          {% for player in players %}
             <tr>
               <td>{{player["player_id"]}}</td>
               <td>{{player["team_id"]}}</td>
               <td>{{player["rank"]}}</td>
               <td>{{player["first_name"]}}</td>
               <td>{{player["last_name"]}}</td>
               <td>{{player["height"]}}</td>
               <td>{{player["jersey_number"]}}</td>
               <td>{{player["weight"]}}</td>
               <td>{{player["age"]}}</td>
               <td>{{player["country"]}}</td>
               <td>{{player["experience"]}}</td>
               <td>{{player["position"]}}</td>
               <td>{{player["schoolType"]}}</td>
               <td>{{player["draftYear"]}}</td>
               <td>{{player["nba_player_id"]}}</td>
             </tr>
          {% endfor %}
       </table>
       <br />
       <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
       <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
       <script type="text/javascript">
         $(document).ready(function() {
            $('#teams').DataTable();
            $('#players').DataTable();
         } );
      </script>
   </body>
</html>